
@inherits System.Web.Mvc.WebViewPage

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Secret</title>
</head>
<body>
<div>
    this is a secret page!
</div>
</body>
</html>
